* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url('./illus.jpg');
}

.form-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.form-content>* {
    width: 17rem;
}

.paper-content {
    margin: 12rem auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 25rem;
    gap: 1rem;
}